.add-employee-container{
     width: 60%;
}
.personal-information-form{
     display: flex;
     justify-content: center;
     flex-direction: column;
     gap: 10px;
}
.form-button{
     width: 100%;
     border: unset;
     color: white;
     margin: 10px 0px;
     padding: 5px 0px;
     border-radius: 7px;
}

.form-text{
     text-align: center;
     color: #666666;
     margin-bottom: 25px;
}
.form-input{
     width: 100%;
     padding: 8px 15px;
     margin-bottom: 5px;
}