.manage-user-container{
     position: relative;
}
.title{
     color: #979393;
     font-size: 22px;
     margin-bottom: 22px;
}
.create-search-field{
     display: flex;
     justify-content: space-between;
     margin-bottom: 18px;
}
.search-field-button{
     padding: 5px 10px;
     height: max-content;
     border: unset;
     border-radius: 7px;
     color: white;
     font-size: 16px;
}
.search-field{
     height: 30px;
}
.information-title{
     display: grid;
     grid-template-columns: 25% 25% 25% 25%;
     align-items: center;     
     color: #0E0D0D;
     font-weight: 700;
     padding: 10px 15px;
}

.display-information{
     background-color: white;
     border-radius: 7px;
     height: 150vh;
     padding: 24px 28px;
}
.employee-content{
     grid-template-columns: 25% 25% 25% 25%;
     display: grid;
     border: 1px solid #979393;
     border-radius: 7px;
     padding: 10px 15px;
     align-items: center;
}
.separate-bar{
     position: relative;
}
.separate-bar::after{
     content: "";
     height: 100%;
     width: 1px;
     background-color: black;
     position: absolute;
     right: 20px;
}
ul{
     margin-bottom: 5px;
     color: #979393;
}
.locate-center{
     text-align: center;
}

.delete-conformation-form{
     width: 40%;
     display: flex;
     flex-direction: column;
     gap: 10px;
     align-items: center;
}

.display-view-information{
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 150vh;
     background-color: white;
     display: none;
}

.display-view-information-open{
     display: block;
}

.view-information-div-close-button{
     position: absolute;
     right: 10px;
     top: 10px;
     border: unset;
     color: white;
     border-radius: 7px;
     padding: 5px 14px;
}

.display-view-information{
     padding: 10px;
     border-radius: 7px;
}
.viewinformation-left{
     width: 100%;
     display: grid;
     grid-template-columns: 15% 25% 25% 30%;
     grid-template-rows: 25px 25px 25px 25px;
     /* justify-content: space-between; */
     margin-bottom: 30px;
}
.viewinformation-right{
     width: 100%;
}

.viewinformation-wrap{
     display: flex;
     margin-top: 25px;
     flex-direction: column;
}

.viewinformation-image{
     grid-column: 1;
     width: 90%;
}
.user-view-item-1{
     grid-column: 2;
     grid-row: 1;
}
.user-view-item-2{
     grid-column: 3;
     grid-row: 1;
}
.user-view-item-3{
     grid-column: 4;
     grid-row: 1;
}
.user-view-item-4{
     grid-column: 2;
     grid-row: 2;
}
.user-view-item-5{
     grid-column: 3;
     grid-row: 2;
}
.user-view-item-6{
     grid-column: 4;
     grid-row: 2;
}
.user-view-item-7{
     grid-column: 2;
     grid-row: 3;
}
.user-view-item-8{
     grid-column: 3;
     grid-row: 3;
}
.user-view-item-9{
     grid-column: 4;
     grid-row: 3;
}
.user-view-item-10{
     grid-column: 2;
     grid-row: 4;
}
.viewinformation-left p{
     color: rgb(35, 59, 84);

}
.horizontal-line{
     margin-top: 10px;
     color: rgba(162, 161, 168, 0.2);
}

.user-content-wrap{
     display: flex;
     gap: 10px;
}
.user-content{
     width: 25%;
     display: grid;
     gap: 5px;
     border: 1px solid;
     border-radius: 7px;
     padding: 10px 5px;
}