.calendar-title{
     color: #424242;
     font-size: 16px;
     margin-bottom: 10px;
     height: 25px;
     border: unset;
}
.react-calendar {
     border: none;
     box-shadow: none;
}
.react-calendar__tile {
     border: none;
     box-shadow: none;
}
.react-calendar__navigation button {
     border: none;
     box-shadow: none;
}
.react-calendar__navigation {
     border: none;
}
.react-calendar__viewContainer {
     border: none;
     box-shadow: none;
}
.react-calendar__tile {
     border: none;
     box-shadow: none;
}
.react-calendar__month-view__weekdays {
     border-bottom: none;
}
.react-calendar__month-view {
     border: none;
}
.react-calendar__month-view__days {
     border: none;
}
.react-calendar {
     border: none !important;
     box-shadow: none !important;
}
   
.react-calendar__tile {
     border: none !important;
     box-shadow: none !important;
}

.react-calendar__month-view__days__day{
     color: #757575;
}
.react-calendar__navigation__label{
     color: #757575;
}
.calendar__navigation__arrow {
     color: #757575 !important;
}
.react-calendar__navigation__next2-button,.react-calendar__navigation__next-button,.react-calendar__navigation__prev-button,.react-calendar__navigation__prev2-button{
     color: #757575 !important;
}
.react-calendar__month-view__days__day{
     color: black;
}