.work-form{
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     gap: 10px;
}
.form-button-side{
     width: 45%;
     border: unset;
     border-radius: 7px;
     color: white;
     padding: 5px 0px;
}
.form-button-side-container{
     width: 100%;
     display: flex;
     justify-content: space-between;
}
.form-input-group-wrap{
     display: flex;
     justify-content: space-between;
}
.form-input-group{
     width: 49%;
     padding: 8px 15px;
}
.label-wrap{
     display: grid;
     width: 100%;
     grid-template-columns: 50% 50%;
     justify-content: space-between;
}