.loading-container{
     position: absolute;
     background-color: white;
     width: 100%;
     height: 100%;
     z-index: 100;
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     gap: 10px;
     overflow: hidden;
}
.loading-logo-img{
     width: 90px;
}
.loading-container-element-wrap{
     display: flex;
     align-items: center;
}
.logo-title-loading{
     color: #48484A;
}