.sidebar{
     width: 20%;
     height: 100vh;
     position: fixed;
     display: flex;
     flex-direction: column;
     background-color: #34495E;
     padding: 45px 8px;
     justify-content: space-between;
     border-right: 0.1px solid rgba(0, 0, 0, 0.396);
}
.sidebar-nav{
     display: flex;
     flex-direction: column;
     gap: 8px;
     margin-top: 10px;
}
.navlink{
     height: 50px;
     padding-left: 20px;
     color: #ECF0F1;
     border-radius: 7px;
     border: unset;
     transition: 1.5s ease;
     display: flex;
     align-items: center;
     gap: 5px;
     border: 0.1px solid rgba(213, 216, 220, 0.6);

}
.sidebar-icon{
     font-size: 18px;
}
.navlink:hover {
     color: #ECF0F1;
     background: linear-gradient(to top, #851C1F, #EB3236);
     box-shadow: 1px 5px 3px rgba(0, 0, 0, 0.3);
     cursor: pointer;
 }
 
 .active {
     color: white;
     position: relative;
     background: linear-gradient(to top, #851C1F, #EB3236);
     overflow: hidden;
     box-shadow: 1px 5px 3px rgba(0, 0, 0, 0.3);
     cursor: pointer;
 }
 
 .leave-button {
     max-width: 185px;
     height: 40px;
     padding-left: 12px;
     width: 100%;
     background: linear-gradient(to top, #851C1F, #EB3236);
     border-radius: 7px;
     border: unset;
     color: white;
     font-size: 16px;
     text-align: start;
     margin: 0px auto;
     display: flex;
     align-items: center;
     gap: 5px;
     box-shadow: 1px 5px 3px rgba(0, 0, 0, 0.3);
     cursor: pointer;
 }
