.password-container{
     width: 100%;
     height: 100vh;
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     background-color: white;
}
.forgot-password-title{
     margin-top: 26px;
     color: #191D23;
     font-size: 24px;
     font-weight: 700;
     margin-bottom: 8px;
}
.forgot-password-text{
     width: 342px;
     text-align: center;
     color: #666666;
     font-size: 16px;
     margin-top: 8px;
     margin-bottom: 26px;
}
.forgot-password-form{
     display: flex;
     flex-direction: column;
     max-width: 400px;
     width: 100%;
}
.label{
     color: #191D23;
     font-size: 16px;
     margin-bottom: 8px;
}
.forgot-password-back{
     color: #979393;
     font-weight: 600;
     font-size: 16px;
}
