.manage-documents-container{
     position: relative;
}
.document-content-wrap{
     display: flex;
     flex-wrap: wrap;
     gap: 1%;
}
.document-content{
     width: 32%;
     display: flex;
     flex-direction: column;
     gap: 10px;
     border: 1px solid;
     border-radius: 7px;
     padding: 10px 5px;
     margin-bottom: 10px;
}

.horizontal-line-card{
     height: 1px;
}